## Deliverable 3. Create a Travel Itinerary Map.

In [53]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [54]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("weather_database/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Puerto Baquerizo Moreno,EC,84.20,few clouds,-0.9000,-89.6000,Hotel los Algarrobos
1,3,Port Alfred,ZA,71.20,overcast clouds,-33.5906,26.8910,The Halyards Hotel
2,6,Rikitea,PF,78.26,few clouds,-23.1203,-134.9692,Pension Maro'i
3,8,Moerai,PF,79.45,moderate rain,-22.4333,-151.3333,Le Manotel
4,9,Kavieng,PG,78.30,light rain,-2.5744,150.7967,Nusa Island Retreat

In [55]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [56]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Ixtapa")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Ixtapa")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Tomatlan")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Sayula")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Lazaro Cardenas")]

In [144]:
# City 1: Ixtapa
ixtapa = pd.DataFrame(vacation_start)
ixtapa

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
53,135,Ixtapa,MX,78.8,clear sky,20.7,-105.2,NaN

In [77]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
53,135,Ixtapa,MX,78.8,clear sky,20.7,-105.2,NaN

In [145]:
# City 2: Tomatlan
tomatlan = pd.DataFrame(vacation_stop1)
tomatlan

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
73,184,Tomatlan,MX,89.35,clear sky,19.9333,-105.25,NaN

In [146]:
# City 3: Sayula
sayula = pd.DataFrame(vacation_stop2)

In [147]:
# City 4: Lazaro Cardenas
lazaro_cardenas = pd.DataFrame(vacation_stop3)
lazaro_cardenas

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
18,44,Lazaro Cardenas,MX,82.13,clear sky,17.9583,-102.2,NaN

In [148]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy().tolist()
end = vacation_end[['Lat','Lng']].to_numpy().tolist()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy().tolist()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy().tolist()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy().tolist()

In [159]:
#result = tuple(map(tuple, start))
S = tuple(map(tuple,start))
E = tuple(map(tuple,end))
S1 = tuple(map(tuple,stop1))
S2 = tuple(map(tuple,stop2))
S3 = tuple(map(tuple,stop3))
print(S, E, S1, S2, S3)

((20.7, -105.2),) ((20.7, -105.2),) ((19.9333, -105.25),) ((19.8667, -103.6167),) ((17.9583, -102.2),)

In [161]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
Start = (20.7, -105.2)
End = (20.7, -105.2)
Stop1 = (19.9333, -105.25)
Stop2 = (19.8667, -103.6167)
Stop3 = (17.9583, -102.2)

fig = gmaps.figure()
itenerary = gmaps.directions_layer(Start, End, waypoints = [Stop1,Stop2,Stop3], travel_mode = "DRIVING" )
fig.add_layer(itenerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [163]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([ixtapa, tomatlan, sayula, lazaro_cardenas],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,135,Ixtapa,MX,78.80,clear sky,20.7000,-105.2000,NaN
1,184,Tomatlan,MX,89.35,clear sky,19.9333,-105.2500,NaN
2,592,Sayula,MX,80.60,few clouds,19.8667,-103.6167,NaN
3,44,Lazaro Cardenas,MX,82.13,clear sky,17.9583,-102.2000,NaN

In [164]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [169]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))