## Deliverable 2. Create a Customer Travel Destinations Map.

In [57]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [58]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Current Description
0,0,Barrow,US,71.2906,-156.7887,-11.20,70,20,13.80,2021-04-12 18:01:02,few clouds
1,1,Busselton,AU,-33.6500,115.3333,51.01,85,96,1.01,2021-04-12 18:01:03,overcast clouds
2,2,Puerto Baquerizo Moreno,EC,-0.9000,-89.6000,84.20,70,20,5.75,2021-04-12 18:01:03,few clouds
3,3,Port Alfred,ZA,-33.5906,26.8910,71.20,92,96,12.80,2021-04-12 18:01:03,overcast clouds
4,4,Hay River,CA,60.8156,-115.7999,19.40,45,29,16.11,2021-04-12 18:01:04,scattered clouds

In [76]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [77]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Current Description
2,2,Puerto Baquerizo Moreno,EC,-0.9000,-89.6000,84.20,70,20,5.75,2021-04-12 18:01:03,few clouds
3,3,Port Alfred,ZA,-33.5906,26.8910,71.20,92,96,12.80,2021-04-12 18:01:03,overcast clouds
6,6,Rikitea,PF,-23.1203,-134.9692,78.26,70,13,10.36,2021-04-12 18:01:05,few clouds
8,8,Moerai,PF,-22.4333,-151.3333,79.45,79,96,15.52,2021-04-12 18:01:05,moderate rain
9,9,Kavieng,PG,-2.5744,150.7967,78.30,81,100,12.64,2021-04-12 18:01:06,light rain
12,12,Mar Del Plata,AR,-38.0023,-57.5575,75.20,46,0,11.50,2021-04-12 17:56:10,clear sky
13,13,Karratha,AU,-20.7377,116.8463,82.38,74,51,9.19,2021-04-12 18:01:07,broken clouds
24,24,Codajas,BR,-3.8367,-62.0569,89.04,54,83,3.65,2021-04-12 18:01:12,broken clouds
25,25,Hobyo,SO,5.3505,48.5268,82.33,61,100,10.89,2021-04-12 18:01:13,overcast clouds
29,29,Nouadhibou,MR,20.9310,-17.0347,78.80,44,11,17.27,2021-04-12 18:01:14,few clouds

In [78]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                283
City                   283
Country                278
Lat                    283
Lng                    283
Max Temp               283
Humidity               283
Cloudiness             283
Wind Speed             283
Date                   283
Current Description    283
dtype: int64

In [79]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Current Description
2,2,Puerto Baquerizo Moreno,EC,-0.9000,-89.6000,84.20,70,20,5.75,2021-04-12 18:01:03,few clouds
3,3,Port Alfred,ZA,-33.5906,26.8910,71.20,92,96,12.80,2021-04-12 18:01:03,overcast clouds
6,6,Rikitea,PF,-23.1203,-134.9692,78.26,70,13,10.36,2021-04-12 18:01:05,few clouds
8,8,Moerai,PF,-22.4333,-151.3333,79.45,79,96,15.52,2021-04-12 18:01:05,moderate rain
9,9,Kavieng,PG,-2.5744,150.7967,78.30,81,100,12.64,2021-04-12 18:01:06,light rain
...,...,...,...,...,...,...,...,...,...,...,...
692,692,Natal,BR,-5.7950,-35.2094,87.80,62,40,18.41,2021-04-12 18:05:32,scattered clouds
695,695,Kawalu,ID,-7.3817,108.2082,72.93,97,100,0.87,2021-04-12 18:05:33,overcast clouds
698,698,Dicabisagan,PH,17.0818,122.4157,75.87,90,78,4.16,2021-04-12 18:05:34,broken clouds
704,704,Kuah,MY,6.3265,99.8432,82.40,83,20,3.44,2021-04-12 18:05:37,few clouds
706,706,Boa Vista,BR,2.8197,-60.6733,89.60,55,75,9.22,2021-04-12 18:05:39,broken clouds

In [92]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Puerto Baquerizo Moreno,EC,84.20,few clouds,-0.9000,-89.6000,
3,Port Alfred,ZA,71.20,overcast clouds,-33.5906,26.8910,
6,Rikitea,PF,78.26,few clouds,-23.1203,-134.9692,
8,Moerai,PF,79.45,moderate rain,-22.4333,-151.3333,
9,Kavieng,PG,78.30,light rain,-2.5744,150.7967,
12,Mar Del Plata,AR,75.20,clear sky,-38.0023,-57.5575,
13,Karratha,AU,82.38,broken clouds,-20.7377,116.8463,
24,Codajas,BR,89.04,broken clouds,-3.8367,-62.0569,
25,Hobyo,SO,82.33,overcast clouds,5.3505,48.5268,
29,Nouadhibou,MR,78.80,few clouds,20.9310,-17.0347,

In [95]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [99]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Puerto Baquerizo Moreno,EC,84.20,few clouds,-0.9000,-89.6000,Hotel los Algarrobos
3,Port Alfred,ZA,71.20,overcast clouds,-33.5906,26.8910,The Halyards Hotel
6,Rikitea,PF,78.26,few clouds,-23.1203,-134.9692,Pension Maro'i
8,Moerai,PF,79.45,moderate rain,-22.4333,-151.3333,Le Manotel
9,Kavieng,PG,78.30,light rain,-2.5744,150.7967,Nusa Island Retreat
...,...,...,...,...,...,...,...
692,Natal,BR,87.80,scattered clouds,-5.7950,-35.2094,
695,Kawalu,ID,72.93,overcast clouds,-7.3817,108.2082,
698,Dicabisagan,PH,75.87,broken clouds,17.0818,122.4157,
704,Kuah,MY,82.40,few clouds,6.3265,99.8432,
706,Boa Vista,BR,89.60,broken clouds,2.8197,-60.6733,Aipana Plaza Hotel

In [100]:
hotel_df.count()

City                   278
Country                278
Max Temp               278
Current Description    278
Lat                    278
Lng                    278
Hotel Name             278
dtype: int64

In [103]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'])
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Puerto Baquerizo Moreno,EC,84.20,few clouds,-0.9000,-89.6000,Hotel los Algarrobos
3,Port Alfred,ZA,71.20,overcast clouds,-33.5906,26.8910,The Halyards Hotel
6,Rikitea,PF,78.26,few clouds,-23.1203,-134.9692,Pension Maro'i
8,Moerai,PF,79.45,moderate rain,-22.4333,-151.3333,Le Manotel
9,Kavieng,PG,78.30,light rain,-2.5744,150.7967,Nusa Island Retreat
...,...,...,...,...,...,...,...
692,Natal,BR,87.80,scattered clouds,-5.7950,-35.2094,
695,Kawalu,ID,72.93,overcast clouds,-7.3817,108.2082,
698,Dicabisagan,PH,75.87,broken clouds,17.0818,122.4157,
704,Kuah,MY,82.40,few clouds,6.3265,99.8432,
706,Boa Vista,BR,89.60,broken clouds,2.8197,-60.6733,Aipana Plaza Hotel

In [104]:
# 8a. Create the output File (CSV)
output_data_file = "weather_database/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [105]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [106]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))